Repository taiwithers/SkySim: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-full, pytest-full, mypy, pytest-testmon

pylint-full:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --score=false
  - --enable=redefined-builtin
  - --enable=unused-import

pytest-full:
  name: pytest [full]
  entry: pytest
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: dmypy run -- --package skysim
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - manual
  - pre-commit
  - pre-merge-commit
  - pre-push

pytest-testmon:
  name: pytest [testmon]
  entry: pytest
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - manual
  - pre-commit
  args:
  - --testmon

build: update justfile
  justfile
Due: none

test: add tests for overwrite flag
  skysim/__main__.py
  tests/configs/overwrite_final.toml
  tests/configs/overwrite_temporary.toml
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

fix: debug gh action failure
  justfile
Due: none

fix: don't return filename from main() unless debug
  justfile
  skysim/__main__.py
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: update apidoc
  docs/source/api/plot.md
  docs/source/api/settings.md
  docs/source/api/utils.md
Due: none

style: reduce line length, remove unecessary pragmas
  poetry.lock
  pyproject.toml
  skysim/__main__.py
  skysim/colours.py
  skysim/plot.py
  skysim/query.py
  skysim/settings.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

refactor: remove deprecated Optional type
  skysim/__main__.py
  skysim/settings.py
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

build: add just update recipe
  justfile
Due: none

chore: update deps
  flake.lock
  poetry.lock
Due: none

refactor: add read_pyproject function to utils
  docs/source/conf.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

fix: debug failing gh action
  .github/workflows/docs.yaml
Due: none

fix: editable skysim install on gh action
  .github/workflows/docs.yaml
Due: none

chore: clean up conf.py
  docs/source/conf.py
Due: pylint-full

refactor: split argparse into a new function
  skysim/__main__.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

feat: add --verbose flag
  skysim/__main__.py
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
  tests/test_plot.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: update api docs
  docs/source/api/main.md
  docs/source/api/utils.md
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

build: use cli flags when calling skysim in full-build-docs
  justfile
Due: none

build: remove debug flag from full-build-docs
  justfile
Due: none

style: add inline comments, simplify some blocks
  skysim/__main__.py
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
  skysim/settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: flesh out some docstrings
  skysim/plot.py
  skysim/settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: add more crossrefs
  docs/source/conf.py
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: improve type annotations in docstrings
  docs/source/conf.py
  skysim/__main__.py
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
  skysim/settings.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: improve styling for skysim.colours.RGB - pydantic dataclass
  docs/source/_templates/autosummary/dataclass.rst
  docs/source/api/colours.md
Due: none

docs: theme styling
  docs/source/_templates/pydatasourcelink.html
Due: none

refactor: move setup functions from settings to __main__
  docs/source/api/main.md
  docs/source/api/settings.md
  skysim/__main__.py
  skysim/settings.py
  tests/test_main.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: add internal crosslinks
  README.md
  docs/source/devnotes.md
  skysim/__main__.py
  skysim/plot.py
  skysim/populate.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

style: clean up conf.py
  docs/source/conf.py
Due: pylint-full

refactor: parse_args -> parse_cli_args (avoid name collision w argparse method)
  skysim/__main__.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

feat: use custom argparse class to modify error message
  skysim/__main__.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

test: rewrite test_main
  tests/conftest.py
  tests/test_main.py
  tests/test_settings.py
  tests/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: parse_args -> parse_cli_args
  docs/source/api/main.md
Due: none

Path conditions:
  pylint-full: any of: \.py$, but not: .gitignore
  pytest-full: any of: \.py$ and not (conf.py) and not (.gitignore)
  mypy: any of: \.py$ and not (conf.py) and not (.gitignore)
  pytest-testmon: any of: \.py$ and not (conf.py) and not (.gitignore)
