Repository taiwithers/SkySim: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-full, pytest-full, mypy, pytest-testmon

pylint-full:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --score=false
  - --enable=redefined-builtin
  - --enable=unused-import

pytest-full:
  name: pytest [full]
  entry: pytest
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: dmypy run -- --package skysim
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - manual
  - pre-commit
  - pre-merge-commit
  - pre-push

pytest-testmon:
  name: pytest [testmon]
  entry: pytest
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - manual
  - pre-commit
  args:
  - --testmon

test: move test configs
  tests/configs/minimal.toml
  tests/configs/minimal_multiframe.toml
  tests/configs/missing_required.toml
  tests/conftest.py
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

test: add tests for toml parsing
  pyproject.toml
  skysim/__main__.py
  skysim/settings.py
  tests/configs/interval_duration_mismatch.toml
  tests/configs/mismatched_all_or_none.toml
  tests/configs/missing_one_or_more.toml
  tests/configs/not_toml.txt
  tests/configs/zero_fps_movie.toml
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

feat: add debug flag to allow for full traceback
  skysim/__main__.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

test: add test for debug flag
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

feat: raise runtime instead of value error if earthlocation has connection issues
  skysim/__main__.py
  skysim/settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

test: move some tests from settings to main
  tests/test_main.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

build: add pytest-rerunfailures to dev environment
  poetry.lock
  pyproject.toml
Due: none

test: add tests for various config file issues
  .pre-commit-config.yaml
  pyproject.toml
  skysim/plot.py
  skysim/settings.py
  tests/configs/bad_type_date.toml
  tests/configs/bad_type_time.toml
  tests/configs/no_image_folder.toml
  tests/configs/no_permissions_image.toml
  tests/configs/no_permissions_tempdir.toml
  tests/configs/string_angle.toml
  tests/configs/tomllib_error.toml
  tests/test_main.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

refactor: RuntimeError -> ConnectionError
  skysim/__main__.py
  skysim/settings.py
  tests/test_main.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

refactor: move flaky test config into pyproject
  pyproject.toml
  tests/test_main.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

build: update deps
  poetry.lock
Due: none

docs: improve (mostly module) docs
  skysim/__main__.py
  skysim/plot.py
  skysim/populate.py
  skysim/query.py
  skysim/settings.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

chore: update .envrc to override breakpoint()
  .envrc
Due: none

test: add pytest-instafail
  poetry.lock
  pyproject.toml
Due: none

test: move rerunfailures config into pyproject
  pyproject.toml
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

chore: edit pytest output
  pyproject.toml
Due: none

chore: update deps
  .pre-commit-config.yaml
  flake.lock
  poetry.lock
Due: none

test: use examples as test cases
  examples/still_image.toml
  tests/configs/minimal.toml
  tests/configs/minimal_multiframe.toml
  tests/configs/movie.toml
  tests/configs/still_image.toml
  tests/conftest.py
  tests/test_settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

feat: use dms rather than decimal formatting for angles in plot title
  skysim/settings.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

docs: add some developer notes
  docs/source/conf.py
  docs/source/devnotes.md
  docs/source/index.md
Due: pylint-full

docs: edit theme elements
  docs/source/conf.py
Due: pylint-full

chore: capitalize SkySim in pyproject.toml
  pyproject.toml
Due: none

docs: remove problematic space in pip installation
  README.md
Due: none

chore: remove usage-flake.nix
  usage-flake.nix
Due: none

chore: nix follows
  flake.lock
  flake.nix
Due: none

feat: add flag to optionally overwrite files
  skysim/__main__.py
  skysim/plot.py
  skysim/settings.py
  skysim/utils.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

chore: make poetry groups optional
  README.md
  poetry.lock
  pyproject.toml
Due: none

doc: add some description to plotting functions
  skysim/plot.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

test: update existing tests to be compatible with --overwrite
  tests/configs/no_permissions_image.toml
  tests/configs/no_permissions_tempdir.toml
  tests/test_main.py
Due: pylint-full, pytest-full, mypy, pytest-testmon

style: whitespace
  skysim/settings.py
  tests/configs/no_permissions_image.toml
  tests/configs/no_permissions_tempdir.toml
Due: pylint-full, pytest-full, mypy, pytest-testmon

Path conditions:
  pylint-full: any of: \.py$, but not: .gitignore
  pytest-full: any of: \.py$ and not (conf.py) and not (.gitignore)
  mypy: any of: \.py$ and not (conf.py) and not (.gitignore)
  pytest-testmon: any of: \.py$ and not (conf.py) and not (.gitignore)
